@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  min-width: 400px;
  min-height: 650px;
}

/* HOME PAGE */
@layer components {
  
  .home-container{
    @apply border-red-500 border-[24px] border-solid /* border settings */

    flex justify-center items-center /* flex settings */

    w-full h-full /* size settings */

    /* additional settings */
    text-white text-xs
    bg-black;
  }

  .wrapper-container{
    /* Tailwind CSS */
    @apply border-blue-500 border-[24px] border-solid
    flex justify-center items-start flex-wrap
    
    w-1/2 h-fit

    max-h-[600px]
    overflow-y-scroll;

    /* Regular CSS */
    box-shadow: 0px 4px 40px 0px #FF7622;

  }
  
  .box1,
  .box2,
  .box3 {
    @apply border-solid border-green-500 border-2 
    flex justify-center items-center
    w-[100px] h-[100px]

    bg-black;
  }
  

}